.add-employee__button {
  background-color: transparent;
  border: none;
  color: #373737;
  font-size: 18px;
  padding: 10px 20px;
  border-radius: 30px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.add-employee__button:hover {
  background-color: rgba(255, 255, 255, 0.1);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.16), 0 6px 12px rgba(0, 0, 0, 0.23);
}

.add-employee__modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

.add-employee__form {
  position: relative;
  width: 400px;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 20px;
  border-radius: 4px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.add-employee__form-header {
  font-size: 20px;
  margin-bottom: 20px;
  color: #fff;
}
.input__div {
  margin-bottom: 10px;
}
.input__label {
  display: block;
  font-size: 16px;
  margin-bottom: 5px;
  color: #fff;
}
.input__field {
  width: 97%;
  padding: 5px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: transparent;
  color: #fff;
}

.form__button {
  width: 100%;
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 16px;
  background-color: #35a139;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.form__button:hover{
  background-color: #1d9621;
}
.CloseButton {
  position: absolute;
  top: 5px;
  right: 5px;
  font-size: 15px;
  font-weight: 550;
  color: #9e9b9b;
  cursor: pointer;
  background: none;
  border: none;
}

.CloseButton:hover {
  color: #4e0606;
}
