.addEmployeeButton {
    background-color: transparent;
    border: none;
    color: #fff;
    font-size: 18px;
    padding: 10px 20px;
    border-radius: 30px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    z-index: 1;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  }
  
  .addEmployeeButton:before {
    content: "";
    position: absolute;
    top: -10px;
    left: -10px;
    right: -10px;
    bottom: -10px;
    background: linear-gradient(
      to bottom right,
      rgba(255, 255, 255, 0.2),
      rgba(255, 255, 255, 0.1)
    );
    z-index: -1;
    border-radius: 30px;
    opacity: 0;
    transition: opacity 0.3s ease;
  }
  
  .addEmployeeButton:hover {
    background-color: rgba(255, 255, 255, 0.1);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.16), 0 6px 12px rgba(0, 0, 0, 0.23);
  }
  
  .addEmployeeButton:hover:before {
    opacity: 1;
  }
  