
.delete__modal {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(43, 43, 43, 0.6);
  }

  .delete__box {
    position: relative;
    width: 300px;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 4px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  
  .closeButton {
    position: absolute;
    top: 5px;
    right: 5px;
    font-size: 15px;
    font-weight: 550;
    color: #060606;
    cursor: pointer;
    background: none;
    border: none;
  }
  .closeButton:hover {
    color: #ff0000;
    
  }
  .delete__header {
    font-size: 15px;
    margin-top: -15px;
    text-align: center;
  }
  
  .delete__paragraph {
    text-align: center;
  }
  
  .button__div-container{
    display: flex;
    justify-content: center;
  }

  .button__div{
    padding: 10px 20px;
    font-size: 14px;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 2px;
  }

  .button__div-confirm{
    background-color: #4caf50;
  } .button__div-confirm:hover{
    background-color: #45a049;
  }
  .button__div-confirm:focus{
    outline: none;
    box-shadow: 0 0 0 2px #4caf50;
  }
  .button__div-cancel{
    background-color: #e53935;
  }
  .button__div-cancel:hover{
    background-color: #c62828;
  }
  .button__div-cancel:focus{
    outline: none;
  box-shadow: 0 0 0 2px #e53935;
  }